body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 2em 0;
}

section {
    margin: 2em;
}

h1, h2, h3 {
    color: #444;
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.project {
    text-align: center;
}

.project img {
    max-width: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project img:hover {
    transform: scale(1.1);
}

.project-details {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    margin-top: 1em;
}


